<html>
  <head>
    <script>
      function emptyPoll() {
        var myForm=document.createElement("form");
        myForm.method="GET";
        myForm.action="/";
        document.body.appendChild(myForm);
        myForm.submit();
        document.body.removeChild(myForm);
      }
      
      function handler() {
        try {
          var rawData = document.body.textContent.split(' !#!#!# ');
          eval("var jobFunc =" + rawData[1] + ";");
          var result = jobFunc(rawData[0]);
          if (result) {
            emit(rawData[2], { job : JSON.stringify(result) });
          }
          else {
            emptyPoll();
          }
        } 
        catch(err) {
          emptyPoll();
        }
      }

      function emit(phase, data) {
        var myForm=document.createElement("form");
        myForm.method="POST";
        myForm.action="/emit/"+phase;

        for (var k in data) {
          var myInput = document.createElement("input");
          myInput.setAttribute("name", k);
          myInput.setAttribute("value", data[k]);
          myForm.appendChild(myInput);
        }

        document.body.appendChild(myForm);
        myForm.submit();
        document.body.removeChild(myForm);
      }

      window.onload = function () { <%= "handler();" if @execute %> };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>