<html>
  <head>
    <script type="text/javascript" defer>
      function map() { //fix word1-word2
        var words = document.body.innerHTML.split(/\s+/);
        var aggregate = [];
        for (var i in words) {
          if (i > 0 && i < words.length - 1) {
            aggregate.push([words[i].replace(/\W+/g, "").toLowerCase(), 1]);
          }
        }
        emit("reduce", {"aggregate" : JSON.stringify(aggregate)});
      }

      function reduce() {
        var docs = document.body.innerHTML.split(/\n/);
        var newArray = new Array();
        for(var i = 0; i<docs.length; i++){
          if (docs[i]){
            newArray.push(docs[i]);
          }
        }
        if (newArray[0].replace(/\s/g, '')) {
          var h = {};
          h[newArray[0]] = newArray.length - 2;
          emit("partial", {"sum" : JSON.stringify(h) } );
        }
        else {
          var myForm=document.createElement("form");
          myForm.method="GET";
          myForm.action="/";
          myForm.submit(); 
        }
      }

      function emit(phase, data) {
        var myForm=document.createElement("form");
        myForm.method="POST";
        myForm.action="/emit/"+phase;

        for (var k in data) {
          var myInput = document.createElement("input");
          myInput.setAttribute("name", k);
          myInput.setAttribute("value", data[k]);
          myForm.appendChild(myInput);
        }

        document.body.appendChild(myForm);
        myForm.submit();
        document.body.removeChild(myForm);
      }

      window.onload = function(){ <%= "#{@execute}();" if @execute %> };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
